$color-black: #000;
$color-bg: #d6bdff;
$color-bg-tablet: #95d9ff;
$color-bg-mobile: #adfcc8;
$color-bg-secondary: #ff39eb;

$breakpoint-sm: 480px;
$breakpoint-md: 640px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;