@use 'fonts' as *;
@use 'mixins' as *;
@use 'variables' as *;


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: $main-font;
}

.scroll-lock {
  overflow: hidden;
}

#root {
  min-width: 320px;
}